/* global stile */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVY-BLUE: #2E2F42;
    --GREEN: #31D0AA;
    --SLATE: #434455;
    --LIGHT-SLATE: #8E8F99;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
    --NAVY-BLUE-modal: rgba(46, 47, 66, 0.40);
    --GREY: rgba(46, 47, 66, 0.70);
    --WHITE: #FFFFFF;
    --DAIRY: #FCFCFC;

}

  .mob-current {
      color: var(--OCEAN);
  }

body {
    font-family: "Roboto", sans-serif;
    color: var(--SLATE);
    background-color: var(--WHITE);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
}


ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* end global stile */
/* ================= HEADER MOBILE STYLES ========== */
.nav-list {
    display: none;
}

.adres-item {
    display: none;
}

.heder-top-line {
    border-bottom: 1px solid var(--CORNFLOWER);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-heder {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS);
    text-decoration: none;
    display: inline-flex;
        height: 24px;
        align-items: center;
}

.logo-studio {
    color: var(--NAVY-BLUE);
}

/* ================= /HEADER MOBILE STYLES ========== */
/* ================= HERO MOBILE STYLES ========== */

.mobile-hiro-section {
    background-color: var(--NAVY-BLUE);
    padding-top: 112px;
    padding-bottom: 112px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
}

.hiro-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--WHITE);
    max-width: 288px;
    margin: 0 auto;
    text-transform: capitalize;
}

.hiro-button {
    background-color: var(--IRIS);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE);
    cursor: pointer;
    display: block;
    height: 56px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    margin: 0 auto;
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);     
}

.hiro-button:hover,
.hiro-button:focus {
    background-color: var(--OCEAN);
}
/* ================= /HERO MOBILE STYLES ========== */
/* ================= HEADER MOBILE STYLES ========== */

.section-h {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-h-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.icon-h {
    display: none;
}

.section-h-ul {
display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
}

.section-h-li {
    width: 100%;
}
/* ================= /HEADER MOBILE STYLES ========== */
/* ================= SECTION TEAM MOBILE STYLES ========== */

.section-team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--CLOUD);
}

.section-team-title {
    color: var(--NAVY-BLUE);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
}

.section-team-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-li {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-player {
    padding: 32px 0;
}

.icons-team-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.icons-team-li {
    width: 40px;
    height: 40px;
}

.icons-team-link {
    width: 100%;
    height: 100%;
    background-color: var(--IRIS);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
    fill: var(--CLOUD);
}

.icons-team-link:hover,
.icons-team-link:focus {
    background-color: var(--OCEAN);
}
/* ================= /SECTION TEAM MOBILE STYLES ========== */
/* ================= OUR PORTFOLIO MOBILE STYLES ========== */

.section-our-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    margin-bottom: 72px;
}

.portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    width: 288px;
}

.portfolio-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.overlay-text {
    display: none;
}
/* ================= /OUR PORTFOLIO MOBILE STYLES ========== */
/* ================= FOOTER MOBILE STYLES ========== */

.footer {
    background-color: var(--NAVY-BLUE);
    padding-top: 96px;
    padding-bottom: 96px;
}

.div-footer {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    text-align: center;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio-footer {
    color: var(--CLOUD);
}

.footer-text {
    line-height: 1.5;
    color: var(--CLOUD);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--WHITE);
    margin-bottom: 16px;
}

.footer-icon {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer-icon-li {
    width: 40px;
    height: 40px;
}

.icons-footer-link {
    width: 100%;
    height: 100%;
    background-color: var(--IRIS);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-icon {
    fill: var(--CLOUD);
}

.futer-email-input {
    width: 100%;
}

.futer-text-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--WHITE);
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.footer-label {
    width: 100%;
}

.footer-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--WHITE);
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    opacity: 0.3;
    padding-left: 16px;
    border-radius: 4px;
    color: var(--WHITE);     
}

.footer-button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE);
    cursor: pointer;
    background-color: var(--IRIS);
    border: none;
    border-radius: 4px;
}

.footer-frame-icon {
    margin-left: 16px;
}
/* ================= /FOOTER MOBILE STYLES ========== */
/* ================= MODAL MOBILE ========== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--DAIRY, #FCFCFC);
    padding: 72px 16px 24px 16px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--CORNFLOWER);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    padding: 0px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE, #8E8F99);
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-field {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus {
    border-color: var(--IRIS);
}

.review-form-field:focus+.review-form-field-icon {
    fill: var(--IRIS);
}

.review-form-field-icon {
    fill: var(--NAVY-BLUE);
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-wrapper-comment {
    margin-bottom: 16px;
}

.review-form-messege {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-messege:focus {
    border-color: #4D5AE5;
}

/* checkbox */
.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE);
    margin-right: 8px;
}

.review-form-own-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
}

.privacy-policy-link {
    color: var(--IRIS, #4D5AE5);
}

.review-form-checkbox:checked 
+ .review-form-checkbox-label 
.review-form-own-checkbox {
    background-color: var(--OCEAN);
    border: none;
    fill: var(--CLOUD);
}
/* /checkbox */


.review-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE);
    cursor: pointer;
    background-color: var(--IRIS);
    border-radius: 4px;
    background: var(--IRIS);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    margin-left: 95px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;   
}
/* ================= /MODAL MOBILE ========== */

@media screen and (max-width: 767px) {

    .mobile-open-btn {
            border: none;
            background-color: transparent;
            padding: 0;
            line-height: 0;
        }
    .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99999999999;
            background-color: var(--WHITE);
            transform: translateX(100%);
            transition: transform 250ms linear;
        }
        
        .nav-link {
            color: var(--NAVY-BLUE);
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .nav-link:hover,
        .nav-link:focus {
            color: var(--OCEAN);
        }
    
        .mobile-menu.is-open {
            transform: translateX(0%);
        }
    
        .mobile-menu-container {
            position: relative;
        }

        .nav-list-mobile {
            margin-top: 72px;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }

        .addres-list-mobile {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            margin-top: 168px;
        }

        .mobile-menu-adres-emtel {
            color: var(--SLATE);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .fix-color {
            color: var(--IRIS);
        }

                .adres-emtel:hover,
                .adres-emtel:focus {
                    color: var(--IRIS);
                }

        .mobile-menu-media-ul {
            display: inline-flex;
            align-items: flex-start;
            gap: 40px;
            margin-top: 48px;
        }
            
        .mobile-menu-icon-li {
            width: 40px;
            height: 40px;
        }

        .mobile-menu-icons-link {
            width: 100%;
            height: 100%;
            background-color: var(--IRIS);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .mobile-menu-social-icon {
            fill: var(--CLOUD);
        }
    
        .mobile-menu-close-btn {
            position: absolute;
            top: 24px;
            right: 24px;
            border: none;
            background-color: var(--CORNFLOWER);
            padding: 0;
            line-height: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
    }
}

/* TABLET */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
        
    .mobile-menu {
        display: none;
    }
        
    .mobile-open-btn {
        display: none;
    }
     /* ================= HEADER TABLET STYLES ========== */
    
    .heder-nav {
        display: flex;
        align-items: center;
    }

    .logo-heder {
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        color: var(--NAVY-BLUE);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        position: relative;
        color: var(--OCEAN);
    }

    .nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 48px;
        height: 4px;
        background-color: var(--OCEAN);
        border-radius: 2px;
    }

    .adres-item {
        display: flex;
        font-style: normal;
        margin-left: auto;
    }

    .addres-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .adres-emtel {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--SLATE);
        text-decoration: none;    
    }
    /* ================= /HEADER TABLET STYLES ========== */
    /* ================= HERO TABLET STYLES ========== */
    
    .hiro-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
    }

    .hiro-button {
        margin-top: 32px;
    }
    /* ================= /HERO TABLET STYLES ========== */
    /* ================= SECTION 1 TABLET STYLES ========== */
    
    .section-h-title {
        text-align: start;
    }

    .section-h-ul {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .section-h-li {
        flex-basis: calc((100% - 24px) / 2);
        width: 100%;
    }
    /* ================= /SECTION 1 TABLET STYLES ========== */
    /* ================= SECTION TEAM TABLET STYLES ========== */

    .container-our-tem {
        max-width: 584px;
    }

    .section-team-ul {
        column-gap: 24px;
        row-gap: 64px;
        flex-direction: row;
    }

    .team-li {
        flex-basis: calc((100% - 24px) / 2);
    }

    /* ================= /SECTION TEAM TABLET STYLES ========== */
    /* ================= OUR PORTFOLIO TABLET STYLES ========== */

    .portfolio-container {
        max-width: 768px;
    }
    
    .section-portfolio {
        font-weight: 700;
    }

    .portfolio-ul {
        flex-direction: row;
        row-gap: 72px;
        width: 100%;
    }

    .portfolio-li {
        flex-basis: calc((100% - 24px) / 2);
    }

    /* ================= /OUR PORTFOLIO TABLET STYLES ========== */
    /* ================= FOOTER TABLET STYLES ========== */

    .div-footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        text-align: start;
        row-gap: 72px;
        column-gap: 0;
        max-width: 584px;
    }

    .footer-logo-text {
         margin-right: 24px
    }

        .footer-form {
          flex-direction: row;
          max-width: 453px;
        }

        .footer-input {
            width: 264px;
        }
    /* ================= /FOOTER TABLET STYLES ========== */

/* =====MODAL===== */
.modal {
    width: 408px;
}
/* =====/MODAL===== */
}

/* ===== DESKTOP=====  */

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* ================= HEADER DESKTOP STYLES ========== */

    .logo-heder {
        margin-right: 76px;
    }

    .addres-list {
        flex-direction: row;
        gap: 40px;
    }

    .adres-emtel {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

        .adres-emtel:hover,
        .adres-emtel:focus {
            color: var(--OCEAN);
        }

        .nav-link:hover,
        .nav-link:focus {
            color: var(--OCEAN);
        }
      
    /* ================= /HEADER DESKTOP STYLES ========== */
    /* ================= HERO DESKTOP STYLES ========== */

    .mobile-hiro-section {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .hiro-title {
        margin-bottom: 48px;
    }
    
    /* ================= /HERO DESKTOP STYLES ========== */
    /* ================= SECTION 1 DESKTOP STYLES ========== */
    
    .section-h {
        padding-top: 120px;
        padding-bottom: 120px;
    }

        .icon-h {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background-color: var(--CLOUD);
            border-radius: 4px;
            margin-bottom: 8px;
        }

        .section-h-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        }

        .section-h-ul {
            gap: 24px;
            flex-wrap: nowrap;
        }

        .section-h-li {
            width: calc((100% - 72px) / 4);
        }

    /* ================= /SECTION 1 DESKTOP STYLES ========== */
    /* ================= SECTION TEAM DESKTOP STYLES ========== */

    .section-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-team-ul {
        flex-wrap: nowrap;
    }
    
    /* ================= /SECTION TEAM DESKTOP STYLES ========== */
    /* ================= OUR PORTFOLIO DESKTOP STYLES ========== */

    .section-our-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-container {
        max-width: 1158px;
    }

        .section-portfolio {
            text-transform: capitalize;
        }
    
        .portfolio-li {
        flex-basis: calc((100% - 48px) / 3);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .portfolio-ul {
            row-gap: 48px;
        }
    
    /* ================= /OUR PORTFOLIO DESKTOP STYLES ========== */
    /* ================= FOOTER DESKTOP STYLES ========== */

    .footer {
        padding: 100px 0;
    }

    .div-footer {
        max-width: 1158px;
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-text {
        width: 264px;
    }

    .footer-logo-text {
        margin-right: 120px
    }

    .futer-email-input {
        margin-left: 80px;
    }

   
    
    /* ================= /FOOTER DESKTOP STYLES ========== */
}
/*  */
